<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="http://shozy:8080/styles.css">
</head>
<body class="h-screen w-screen flex justify-start items-center flex-col">
<header class="w-full flex flex-col justify-center items-center space-y-4 mt-6">
    <h5 class="text-2xl font-bold text-center">Forgotten Your Password?</h5>
</header>
<main class="grow max-w-xl flex flex-col justify-start items-start space-y-6 px-10 md:px-4 mt-6">
    <p class="text-muted-foreground">Hello, {name}</p>
    <p class="text-muted-foreground">We have sent you this email in response to your request to reset your password on
        company name.</p>
    <p class="text-muted-foreground">To reset your password, please follow the link below:</p>
    <a target="_blank" href="http://shozy:8080/auth/reset-password?t={token}"
       class="h-9 px-4 py-2 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90">
        Reset Password
    </a>
</main>
</body>
</html>